/*Added font*/
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
/*Main color for all*/
:root {
  --mainColor: #ff9800;
}

/*Underline design*/

#a1 {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  text-decoration: none;
}

#a1:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

#a1 {
color: #000000;
transition: all 0.2s linear;
}
#a1:hover, #a1:focus {
color: #f50707;
font-size: 50px;
}



#a2 {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: var(--mainColor);
  text-decoration: none;
}

#a2:hover {
 font-size: 50px;
  text-shadow: 0px 0px 0 rgb(208,138,28),1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0
rgb(63,41,8),13px 13px 0
}

#a3 {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
}

#a3:hover {
  background: none;
  color: red;
  font-family: 'Creepster', serif;
  font-size: 1.2em;
  letter-spacing: 3px;
  line-height: .75em;
  font-size: 50px;
}

:root {
  --mainColor: #ff9800;
}



p {
  grid-column: 2;
}



#a4::before {
  content: '';
  background-image: url('https://media.giphy.com/media/j3gsT2RsH9K0w/giphy.gif');
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  left: 0;
  position: absolute;
  bottom: 0vh;
  width: 100vw;
  transform: translateY(100%);
  transition: transform .3s;
}

#a4:hover::before {
  transform: translateY(0px);
}

